.link {
  transition: .25s linear;
  color: dimgray;
}

.link:hover {
  color: indianred;
}

.link:hover span {
  opacity: 1;
}

.link:visited {
  color: slateblue;
}

.link span {
  opacity: .7;
}

img {
  transition: .25s linear;
  box-shadow: 0 2px 3px -1px transparent;
}

img:hover {
  box-shadow: 0 2px 3px -1px dimgray;
}
