input, select, textarea {
  border-color: #fff;
}
&:focus {
  border-color: #f00;
}

input,
select,
textarea {
  border-color: #fff;
}
&:focus {
  border-color: #f00;
}

input, select, textarea {
  border-color: #fff;
}
&:focus {
  border-color: #f00;
}
